@font-face {
  font-family: 'Montserrat-Regular';
  src: url('fonts/Montserrat-Regular.eot');
  src: url('fonts/Montserrat-Regular.woff2') format('woff2'),
       url('fonts/Montserrat-Regular.woff') format('woff'),
       url('fonts/Montserrat-Regular.ttf') format('truetype'),
       url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
	text-align: center;
	background: #000;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#snap {
	font-family: 'Montserrat-Regular';
	cursor: pointer;
	width: 250px;
	margin: 0px auto;
	font-size: 35px;
	/*background: -webkit-linear-gradient(left, #FE2864, #fd713d);*/
	background: -webkit-linear-gradient(left, #00C9FF, #92FE9D);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#canvas {
	visibility: hidden;
}

/* phones */
/*
@media only screen and (max-width: 767px) {
	body {
		
	}
}
*/
